.login-section {
  background-image: url("car.jpg");
  background-color: #CBCBD4;
  justify-content: center;
  background-size: cover;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  display: flex;
  width: 100%;
}

.formWrapper {
  border: 1px solid rgba(255, 255, 255, 0.06);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.54);
  backdrop-filter: blur(9.5px);
  border-radius: 15px;
  height: 35rem;
  width: 20rem;
}

form {
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding-left: 1rem;
  height: 2rem;
  outline: none;
  border: none;
  width: 10rem;
}

.submit {
  padding: 0.3rem;
  height: 2rem;
  width: 11rem;
}
.submit:hover {
  opacity: 0.8;
}
